* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-size: 1rem;

    /* outline: 2px solid steelblue; */
}
body {
    background-color: #201E1F;
}
.background {
    width: 100vw;
    height: 100vh;
    background-color: purple;
    display: flex;
}

.background>img {
    height: 100%;
    width: 66%;
    flex: 1;
    display: block;
    /* margin: auto; */
    object-fit: cover;
}
.color-block {
    width: 33%;
    background-color: #201E1F;
    padding: 5px;
    display: flex;
    align-items: end;
    justify-content: end;
}
.img-credit {
    margin: 1rem;
}
a {
    text-decoration: none;
}
.credit{
    color: #919191;
    font-size: 0.65rem;
}

.sign-up {
    position: absolute;
    top:17%;
    left:22%;
    margin: auto;
    width: 56%;
    height: 70%;
    background-color: white;
    display: flex;
    overflow: hidden;
}
.logo-box {
    width: 60%;
    height: 100%;
    background-image: linear-gradient(to bottom right, #f92f78, #EA6FEF );
    /* background-color: pink; */
    display: flex;
    align-items: center;
    padding-left: 1vw;
}
.word-mark {
    color: #fff;
    font-size: 11vw;
    font-weight: 800;
    font-style: italic;
}
.icon {
    position: relative;
    left: -4%;
    height: 25vw;
}
.frame {
    height: 100%;
    position: relative;
    z-index: 1;
    flex: 1;
    background-color: #fff;
    padding: 3%;
    display: flex;
    gap: 1rem;

    flex-direction: column;
    justify-content: space-between;
}
.sec1 {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.sec1,
.sec2,
.sec3 {
    /* outline: 2px solid red; */
}
.sec2 {
    height: 60%;
    /* outline: 2px solid red; */
    /* background-color: #919191; */
    /* flex: 1; */
}
.form-layout {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.field-border {
    padding: 1vh;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    border-radius: 0.5rem;
    /* outline: 1px solid #EAEAEA; */
}
.field-border:hover {
    z-index: 200;
    color: red;
    /* background-color: #08AAFC; */
    background-color: #fff;

    filter: drop-shadow(0px 5px 4px #e9e9e9);
}
.field-passed {
    outline: 1px solid #08AAFC;
}
.label-passed {
    color: #08AAFC;
}
.field-failed {
    outline: 1px solid #f92f78;
}
.label-failed {
    color: #f92f78;
}
.field {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 2.2vh;
    font-weight: 800;
}
input {
    /* outline: 2px solid salmon; */
    padding: 0px;
    margin: 0;
    border: none;
}
.shift-up {
    position: relative;
    bottom: 0.5rem;
}
input::placeholder {
    color: #08AAFC;
}
input:focus{
    outline: none;
}
label {
    /* visibility: hidden; */
    font-size: 0.8rem;
    font-weight: 800;
    color: #08AAFC;
    /* outline: 2px solid salmon; */
}
.hidden {
    visibility: hidden;
}
.field-icon {
    border-right: 1px solid #201E1F;
    /* outline: 2px solid salmon; */
    width: 3rem;
    height: 2rem;
}
button {
    margin-left: auto;
    margin-right: auto;
    font-size: 1.1rem;
    font-weight: 800;
    color: #fff;
    background-image: linear-gradient(to bottom right, #EA6FEF, #f92f78 );
    width: 75%;
    height: 2.8rem;
    border: none;
    border-radius: 2rem;
}
h2 {
    /* outline: 2px solid salmon; */
    color: #EAEAEA;
    font-size: 5vw;
    font-weight: 800;
    font-style: italic;
    text-align: center;
    /* margin-top: -1rem; */
    /* padding-bottom: 1rem; */
    /* justify-content: center; */
}
.p-med {
    font-size: 0.8rem;
}
.log-in {
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    color: #08AAFC;
}

.shadow-green {
    background-color: #fff;
    filter: drop-shadow(0px 5px 4px #d8f3e0);
}
.shadow-gray {
    background-color: #fff;
    filter: drop-shadow(0px 5px 4px #e9e9e9);
}

.label-in {
    position: relative;
    /* bottom: 0.5rem; */
    animation: label-in 0.2s ease-out forwards;
}

@keyframes label-in {
    0% {
        bottom: -0.5rem;
      }
      100% {
        bottom: 0.0rem;
      }
}